body
  background-color: #333333

.site-header
  width: 100%
  height: 140px
  background-color: #222222
  overflow: auto

  @media only screen and (max-width: 920px)
    height: 105px

  #site-title
    text-align: center
    font-size: 48px
    color: #ccb51b
    font-family: "Oswald", sans-serif
    font-weight: bold
    line-height: 48px
    margin: 28px 0

    @media only screen and (max-width: 920px)
      font-size: 36px
      line-height: 36px
      margin: 20px

  nav
    ul
      font-size: 0
      text-align: center
      padding: 0

      li
        display: inline-block
        margin: 0px 15px

        @media only screen and (max-width: 920px)
          margin: 0px 10px

        a
          font-family: "Oswald", sans-serif
          font-size: 24px
          color: #eeeeee
          font-weight: normal
          text-decoration: none
          line-height: 24px

          @media only screen and (max-width: 920px)
            font-size: 18px
            line-height: 18px

          &:visited
            color: #eeeeee
            text-decoration: none

          &:hover
            color: #aaaaaa

div.home
  article.post-container
    display: block
    width: 900px
    height: 240px
    margin: 50px auto
    overflow: auto
    position: relative
    background-color: #292929
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5)

    @media only screen and (max-width: 920px)
      width: 600px
      height: auto

    @media only screen and (max-width: 600px)
      width: 100%
      margin: 20px auto

    img.post-image
      display: block
      height: 240px
      width: 320px
      position: absolute
      top: 0
      left: 0

      @media only screen and (max-width: 920px)
        position: relative
        width: 600px
        height: 450px
        margin: 0

      @media only screen and (max-width: 600px)
        width: 100%
        height: auto

    span.post-divider
      display: block
      width: 5px
      height: 240px
      background-color: #ccb51b
      position: absolute
      top: 0
      left: 320px

      @media only screen and (max-width: 920px)
        display: none

      @media only screen and (max-width: 450px)
        display: block
        width: 100%
        height: 5px
        position: relative
        top: auto
        left: auto

    div.meta-container
      display: block
      height: 240px
      position: absolute
      top: 0
      left: 325px
      overflow: auto

      @media only screen and (max-width: 920px)
        top: auto
        bottom: 0
        left: 0
        background-color: rgba(0,0,0,0.5)
        width: 100%
        height: auto

      @media only screen and (max-width: 450px)
        position: relative
        bottom: auto
        left: auto
        background-color: none

      h2.post-title
        font-family: "Oswald", sans-serif
        font-size: 28px
        line-height: 28px
        font-weight: bold
        margin: 15px
        color: #bbbbbb

        @media only screen and (max-width: 920px)
          font-size: 24px
          margin: 10px

        @media only screen and (max-width: 450px)
          font-size: 20px
          line-height: 24px

      p.post-date
        font-family: "Oswald", sans-serif
        font-size: 18px
        line-height: 18px
        font-weight: normal
        color: #888888
        margin: 15px

        @media only screen and (max-width: 920px)
          margin: 10px

        @media only screen and (max-width: 450px)
          font-size: 16px
          line-height: 16px

      p.post-excerpt
        font-family: "Slabo 27px", serif
        font-size: 16px
        line-height: 22px
        color: #dddddd
        margin: 15px

        @media only screen and (max-width: 920px)
          margin: 10px

        @media only screen and (max-width: 450px)
          font-size: 14px
          line-height: 18px

      a.post-link
        display: block
        text-decoration: none
        text-align: center
        font-size: 24px
        font-family: "Oswald", sans-serif
        font-weight: normal
        text-transform: uppercase
        color: #000000
        background-color: #ccb51b
        width: 120px
        height: 40px
        position: absolute
        bottom: 15px
        left: 15px

        @media only screen and (max-width: 920px)
          margin: 10px
          position: relative
          left: auto
          bottom: auto

        @media only screen and (max-width: 450px)
          font-size: 18px
          line-height: 30px
          width: 100px
          height: 30px

        &:hover
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5)

      a.social
        display: block
        text-decoration: none
        text-align: center
        font-size: 24px
        color: white
        width: 40px
        height: 40px
        position: absolute
        bottom: 15px
        line-height: 40px

      a.facebook
        left: 205px
        background-color: #3b5998

      a.twitter
        left: 150px
        background-color: #1a8bf0

div.routes-wrapper
  width: 960px
  overflow: auto
  margin: 20px auto
  font-size: 0

  @media only screen and (max-width: 980px)
    width: 640px

  @media only screen and (max-width: 660px)
    width: 320px

  h1.routes-heading
    font-family: "Oswald", sans-serif
    font-size: 32px
    line-height: 32px
    color: #ccb51b
    text-align: center
    margin: 10px 20px

    @media only screen and (max-width: 660px)
      font-size: 18px
      line-height: 18px

  p.routes-description
    font-family: "Slabo 27px", serif
    font-size: 18px
    line-height: 24px
    color: #bbbbbb
    margin: 10px 60px 20px
    text-align: justify

    @media only screen and (max-width: 980px)
      margin: 10px 40px 20px

    @media only screen and (max-width: 660px)
      margin: 10px 20px 20px
      font-size: 14px
      line-height: 18px

  div.route-container
    display: block
    width: 300px
    float: left
    overflow: auto
    margin: 10px
    background-color: #292929
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5)

    h2.route-name
      font-family: "Oswald", sans-serif
      font-size: 22px
      line-height: 22px
      font-weight: bold
      text-align: center
      margin: 0
      color: #bbbbbb
      display: block
      background-color: #222222
      padding: 20px 20px
      border-bottom: 5px solid #ccb51b

    h3.route-distance
      font-family: "Oswald", sans-serif
      font-size: 120px
      line-height: 120px
      font-weight: bold
      text-align: center
      margin: 20px 20px 0
      color: white

    p.distance-label
      font-family: "Oswald", sans-serif
      font-size: 24px
      line-height: 24px
      font-weight: normal
      text-align: center
      margin: 0 0 30px
      text-transform: uppercase
      color: #777777

    p.route-time
      font-family: "Owsald", sans-serif
      font-size: 18px
      line-height: 18px
      margin-bottom: 20px
      color: #dddddd
      font-weight: normal
      text-align: center

    a.route-link
      display: block
      text-decoration: none
      text-align: center
      font-size: 28px
      font-family: "Oswald", sans-serif
      font-weight: normal
      text-transform: uppercase
      color: #000000
      background-color: #ccb51b
      padding: 15px

      &:hover
        color: white

article.post-wrapper
  display: block
  width: 900px
  overflow: auto
  margin: 50px auto
  background-color: #292929
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5)

  @media only screen and (max-width: 920px)
    width: 600px
    margin: 30px auto

  @media only screen and (max-width: 600px)
    width: 100%
    margin: 20px 0

  header.post-header
    width: 100%
    border-bottom: 5px solid #ccb51b

    h2.post-title
      font-family: "Oswald", sans-serif
      font-weight: bold
      font-size: 36px
      color: #bbbbbb
      line-height: 42px
      margin: 20px

      @media only screen and (max-width: 920px)
        font-size: 30px
        line-height: 36px

      @media only screen and (max-width: 600px)
        font-size: 24px
        line-height: 28px
        margin: 15px

    p.post-meta
      font-family: "Oswald", sans-serif
      font-weight: normal
      font-size: 18px
      color: #888888
      line-height: 18px
      margin: 20px

      @media only screen and (max-width: 600px)
        margin: 15px

  div.post-content
    display: block
    padding: 20px

    @media only screen and (max-width: 600px)
      padding: 15px

    img.post-image
      display: block
      width: 400px
      margin: 0px 20px 20px 0
      float: left

      @media only screen and (max-width: 920px)
        width: 560px
        float: none
        margin: 0 0 20px 0

      @media only screen and (max-width: 600px)
        width: 100%
        margin: 0 0 15px 0

    p
      margin: 0 0 20px 0
      font-family: "Slabo 27px", serif
      font-size: 16px
      line-height: 20px
      color: #dddddd

      @media only screen and (max-width: 600px)
        width: 100%
        margin: 0 0 15px 0

    a,a:visited,a:hover
      text-decoration: none
      color: #ccb51b

    h3
      font-family: "Oswald", sans-serif
      font-size: 20px
      line-height: 20px
      color: #888888
      font-weight: normal

h2.results-heading
  font-family: "Oswald", sans-serif
  font-size: 32px
  line-height: 32px
  color: #ccb51b
  text-align: center
  margin: 20px

  @media only screen and (max-width: 660px)
    font-size: 24px
    line-height: 24px

div.podium-wrapper
  display: block
  width: 960px
  margin: 0px auto
  overflow: auto
  font-size: 0

  @media only screen and (max-width: 960px)
    width: 640px

  @media only screen and (max-width: 640px)
    width: 320px

  div.podium-container
    display: block
    width: 300px
    float: left
    overflow: auto
    margin: 10px
    background-color: #292929
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5)

    h3.race-title
      font-family: "Oswald", sans-serif
      font-size: 18px
      line-height: 18px
      font-weight: normal
      text-align: center
      margin: 10px 0 0
      padding-bottom: 12px
      color: #888888
      border-bottom: 2px solid #ccb51b

    p.race-category
      display: inline-block
      width: 149px
      margin: 0px
      text-align: center
      font-family: "Oswald", sans-serif
      font-size: 16px
      line-height: 28px
      color: #292929
      border-right: 2px solid #ccb51b
      border-bottom: 2px solid #ccb51b
      background-color: #888888

    p.race-type
      display: inline-block
      width: 149px
      margin: 0px
      text-align: center
      font-family: "Oswald", sans-serif
      font-size: 16px
      line-height: 28px
      color: #292929
      background-color: #888888
      border-bottom: 2px solid #ccb51b

    p.race-result
      font-family: "Oswald", sans-serif
      font-size: 48px
      line-height: 120px
      color: white
      width: 120px
      height: 120px
      border-radius: 50%
      display: block
      margin: 30px auto
      text-align: center

      &.first
        background-color: #ccb51b

      &.second
        background-color: #c0c0c0

      &.third
        background-color: #A57164

      &.fourth
        background-color: #666666

      &.fifth
        background-color: #666666

    p.race-date
      font-family: "Oswald", sans-serif
      font-weight: normal
      font-size: 14px
      line-height: 14px
      text-align: left
      margin: 10px
      color: #dddddd

div.results-wrapper
  display: block
  width: 900px
  background-color: #292929
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5)
  overflow: auto
  margin: 30px auto

  @media only screen and (max-width: 920px)
    width: 600px

  @media only screen and (max-width: 620px)
    width: 300px

  div.result-container
    display: block
    width: 880px
    padding: 10px
    border-bottom: 2px solid #ccb51b
    font-size: 0

    &:hover
      background-color: #666666

    @media only screen and (max-width: 920px)
      width: 580px

    @media only screen and (max-width: 620px)
      width: 280px

    p
      display: inline-block
      font-size: 16px
      font-family: "Oswald", sans-serif
      font-weight: normal
      line-height: 16px
      color: #dddddd
      margin: 0
      padding: 0

      @media only screen and (max-width: 920px)
        font-size: 14px
        line-height: 14px

      &.result-title
        width: 500px

        @media only screen and (max-width: 920px)
          width: 300px

        @media only screen and (max-width: 620px)
          width: 280px

      &.result-category
        width: 100px
        text-align: center

        @media only screen and (max-width: 920px)
          width: 70px

        @media only screen and (max-width: 620px)
          margin-top: 10px
          text-align: left

      &.result-type
        width: 100px
        text-align: center

        @media only screen and (max-width: 920px)
          width: 70px

        @media only screen and (max-width: 620px)
          margin-top: 10px

      &.result-place
        width: 50px
        text-align: center

        @media only screen and (max-width: 920px)
          width: 30px

        @media only screen and (max-width: 620px)
          margin-top: 10px

      &.result-date
        width: 130px
        text-align: right

        @media only screen and (max-width: 920px)
          width: 110px

        @media only screen and (max-width: 620px)
          margin-top: 10px

footer
  width: 100%
  height: 60px
  display: block
  text-align: center
  background: #222222
  margin-top: 30px

  @media only screen and (max-width: 600px)
    height: 40px
    margin-top: 15px

  p
    color: white
    font-family: 'Roboto', sans-serif
    font-size: 14px
    line-height: 60px

    a, a:visited, a:active, a:hover
      color: #ccb51b

    @media only screen and (max-width: 600px)
      font-size: 12px
      line-height: 40px
